* {
  box-sizing: border-box;
  border: solid red 1px;
}

main > * {
  display: block;
  width: 100%;
  min-height: 10px;
  border: 1px solid lightgrey;
}

/* Navbar */

nav {
  height: 190px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

nav ul li {
  display: inline-block;
  width: 100%;
  border: 1px solid lightgrey;
}

nav ul li > * {
  margin: 5px auto;
}

.nav-img {
  width: 50px;
  height: 50px;
  background-color: darkgray;
  margin-top: 35px;
}

.nav-title {
  width: 40px;
  height: 1.5em;
  background-color: black;
}

.nav-subtitle {
  width: 90px;
  height: 1em;
  background-color: lightgrey;
}

.logo {
  flex-grow: 2;
  margin: 20px;
  background-color: darkgray;
}

.topics {
  background-color: darkgray;
  height: 1.5em;
  margin: auto 20px;
}

footer {
  background-color: lightgrey;
}

/* Latest articles */

section {
  padding: 20px 0;
}

.section-title {
  height: 2.5em;
  width: 120px;
  background-color: black;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.latest-articles article {
  width: 50%;
  background-color: white;
  border: 1px solid darkgray;
  padding: 30px;
}

.author-img {
  background-color: lightgrey;
  width: 85px;
  height: 85px;
  margin-top: 40px;
  float: left;
}

.author {
  background-color: darkgray;
  height: 1.5em;
  width: 170px;
  display: inline-block;
  position: relative;
  top: 70px;
}

.multiline-title {
  clear: left;
}

.multiline-title > * {
  background-color: black;
  height: 2.5em;
}

.line1 {
  width: 200px;
}

.line2 {
  width: 150px;
}

.line3 {
  width: 220px;
}

.line4 {
  width: 100px;
}

.tags ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tags ul li {
  display: block;
  width: 170px;
  background-color: lightgrey;
  height: 1em;
}

/* FEATURED ARTICLES SECTION START */

.featured-articles {
  width: 100%;
  height: 1000px;
}

.featured-articles article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 33.3333%;
  float: left;
  padding: 1%;
}

.featured-articles article time {
  width: 40%;
  height: 10%;
}

.featured-articles article .title {
  width: 80%;
  height: 30%;
}

.featured-articles article .author {
  width: 30%;
  height: 10%;
}

.featured-articles article .content {
  width: 90%;
  height: 50%;
}

.featured-articles .smashing-members {
  width: 66.66666%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.featured-articles .smashing-tv {
  width: 100%;
}

.featured-articles .smashing-members .logo,
.featured-articles .smashing-tv .logo {
  width: 20%;
  height: 20%;
  margin: auto;
}

.featured-articles .smashing-members .title,
.featured-articles .smashing-tv .title {
  width: 70%;
  height: 15%;
  margin: auto;
}

.featured-articles .smashing-members .content,
.featured-articles .smashing-tv .content {
  width: 70%;
  height: 20%;
  margin: auto;
}

.featured-articles .smashing-members .button,
.featured-articles .smashing-tv .button {
  width: 20%;
  height: 20%;
  margin: auto;
}

.featured-articles .smashing-members .sign-in,
.featured-articles .smashing-tv .sign-in {
  width: 30%;
  height: 20%;
  margin: auto;
}

.featured-articles .guides {
  width: 15%;
  height: 10%;
}

.featured-articles .list-title {
  width: 80%;
  height: 20%;
  margin: auto;
}

.featured-articles .list {
  width: 90%;
  height: 70%;
  margin: auto;
}
/* FEATURED ARTICLES SECTION END */

.view-more {
  display: flex;
  width: 100%;
  height: 10vw;
  border: solid blue 1px;
}

.view-more div {
  margin: auto;
  width: 40%;
  height: 30%;
}

.mega-ad {
  width: 100%;
  height: 30vw;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.mega-ad .time {
  width: 30%;
  height: 10%;
  margin: auto;
}

.mega-ad .title {
  width: 50%;
  height: 20%;
  margin: auto;
}

.mega-ad .content {
  width: 30%;
  height: 15%;
  margin: auto;
}

.mega-ad .button {
  width: 25%;
  height: 15%;
  margin: auto;
}

.mega-ad .pic {
  width: 90%;
  height: 40%;
  margin: auto;
}

.people-section {
  width: 100%;
  height: 2000px;
}

.people-section article {
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25%;
  width: 50%;
}

.people-section .pic {
  width: 20%;
  height: 20%;
}

.people-section .content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.people-section .content .author {
  width: 70%;
  height: 20%;
}

.people-section .content .title {
  width: 60%;
  height: 20%;
}

.people-section .content .text {
  width: 80%;
  height: 60%;
}

.people-section .person-of-the-week {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.people-section .person-of-the-week .pic {
  width: 25%;
  height: 80%;
  margin: auto;
}

.people-section .person-of-the-week .content {
  width: 75%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

.person-of-the-week .content .title {
  width: 25%;
  height: 20%;
}

.person-of-the-week .content .text {
  width: 85%;
  height: 60%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  width: 100%;
}

footer .title {
  width: 30%;
  height: 20%;
  margin: auto;
}

footer .links {
  width: 70%;
  height: 30%;
  margin: auto;
}

footer .commentary {
  width: 30%;
  height: 20%;
  margin: auto;
}

footer .content {
  display: flex;
  height: 40%;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
}

footer .content .bird-cage {
  width: 20%;
  height: 100%;
}

footer .content .links {
  width: 60%;
  height: 100%;
}

footer .content .cat {
  width: 20%;
  height: 100%;
}
